<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "5R2T54FSQ8.net.mylifesports.mls"
    versionCode="1"
    version   = "1.0.0">
  <preference name="phonegap-version" value="2.9.0" />
  <!-- versionCode is optional and Android only -->

  <name>MyLifeSports</name>

  <description>
    MyLifeSports.net is an interactive Global Sports &amp; Social Community where you can Create, 
    Share &amp; Preserve Your Sports Memories... for your entire lifetime. Explore Infinite Opportunities
    in Sports Recognition, Competition &amp; Connections... and Showcase Your Services &amp; Expertise.
  </description>

  <author href="http://www.MyLifeSports.com" email="rizwan.2bv@gmail.com">
    Rizwan Sajid
  </author>
  <icon src="images/icon.png" gap:role="default" />
  <!--icons -->
  <!-- iphone -->
  <icon src="icons/ios/icon.png" gap:platform="ios" width="57" height="57" />
  <icon src="icons/ios/icon-72.png" gap:platform="ios" width="72" height="72" />
  <icon src="icons/ios/icon_at_2x.png" gap:platform="ios" width="114" height="114" />
  <icon src="icons/ios/icon-72@2x.png" gap:platform="ios" width="144" height="144" />
  <icon src="icons/ios/icon-120.png" gap:platform="ios" width="120" height="120" />
  <icon src="icons/ios/icon-76.png" gap:platform="ios" width="76" height="76" />
  <icon src="icons/ios/icon-152.png" gap:platform="ios" width="152" height="152" />

  <!--icons end -->


  <!--Splash screens -->
  <!-- iphone -->
  <gap:splash src="splash.png" />
  <gap:splash src="splash/ios/Default.png" width="320" height="480" />
  <gap:splash src="splash/ios/Default@2x.png" width="640" height="960" />
  <gap:splash src="splash/ios/Default-Portrait.png" width="768" height="1024" />
  <gap:splash src="splash/ios/Default-568h.png" width="640" height="1136" />
  <gap:splash src="splash/ios/Default-Landscape.png" width="1024" height="768" />
  <gap:splash src="splash/ios/Default-Landscape_at_2x.png" width="2048" height="1496" />
  <gap:splash src="splash/ios/Default-Portrait_at_2x.png" width="1536" height="2008" />

  <!--Splash ends-->


  <preference name="orientation" value="landscape" />






</widget>
